@import "tailwindcss";
@import "tw-animate-css";



@theme {
    --color-foreground: hsl(var(--foreground));
    --color-muted-foreground: hsl(var(--muted-foreground));
}

@layer base {
    :root {
        --foreground: 222.2 84% 4.9%;
        --muted-foreground: 215.4 16.3% 46.9%;
    }

    .dark {
        --foreground: 210 40% 98%;
        --muted-foreground: 215 20.2% 65.1%;
    }
}